<div class="col sm-6 main">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order number</th>
                <th scope="col">Date</th>
                <th scope="col">Order Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    23445
                </td>
                <td>17/01/1111</td>
                <td>Completed</td>
            </tr>
        </tbody>
    </table>
</div>
