<div class="container main">
  <h4>Shopping cart</h4>
  <div class="container">
    <div *ngFor="let cart of carts" class="row justify-content-md-center">
      <app-cart-card [cart]="cart" (updateCart)="update()"></app-cart-card>
    </div>
  </div>
  <div class="row totalPrice">
    <div class="col-8">Total:</div>
    <div class="col-4">${{total}}</div>
  </div>
  <button [disabled]="isEmpty" (click)="order()" type="button" class="btn
    btn-success order-button">Place
    Order</button>
</div>
