<div class="col sm-6 main">
    <form>
        <div class="form-group">
            <label for="exampleInput">Contact Name</label>
            <input type="text" class="form-control" id="exampleInput" placeholder="Please Enter Contact Name">
        </div>
        <div class="form-group">
            <label for="exampleInput">Business Name</label>
            <input type="text" class="form-control" id="exampleInput" placeholder="Please Enter Business Name">
        </div>
        <div class="form-group">
            <label for="exampleInput">ABN</label>
            <input type="text" class="form-control" id="exampleInput" placeholder="Please Enter ABN">
        </div>
        <div class="form-group">
            <label for="exampleInput">Phone</label>
            <input type="number" class="form-control" id="exampleInput" placeholder="Please enter contact detail">
        </div>
        <div class="form-group">
            <label for="exampleInput">Street Address</label>
            <input type="text" class="form-control" id="exampleInput" placeholder="Please Enter Street Address">
        </div>
        <div class="form-group">
            <label for="exampleInput">City</label>
            <input type="text" class="form-control" id="exampleInput" placeholder="Please Enter City">
        </div>
        <div class="form-group">
            <label for="exampleInput">State</label>
            <input type="text" class="form-control" id="exampleInput" placeholder="Please Enter State">
        </div>
        <div class="form-group">
            <label for="exampleInput">Postcode</label>
            <input type="number" class="form-control" id="exampleInput" placeholder="Please Enter Postcode">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
