<div class="container main">
    <div class="row justify-content-md-center">
        <div class="col-6"> <img
                src="https://m.media-amazon.com/images/I/51xvUyKNLCL.jpg"
                alt="Product Image" style="width:100%">
        </div>
        <div class="col-6">
            <h4>Title</h4>
            <p>Short description</p>
            <p>size option</p>
            <p>Colour option</p>
            <h5>Price: $200</h5>
            <button type="button" class="btn btn-success">Add to Cart</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="https://m.media-amazon.com/images/I/51xvUyKNLCL.jpg" alt="..." class="img-thumbnail thumb">
            <img src="https://m.media-amazon.com/images/I/51xvUyKNLCL.jpg" alt="..." class="img-thumbnail thumb">
            <img src="https://m.media-amazon.com/images/I/51xvUyKNLCL.jpg" alt="..." class="img-thumbnail thumb">
            </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12">Detail info</div>
    </div>
</div>
