.thumb {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 75px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.main {
  margin-top: 5%;
  margin-bottom: 30%;
}

.color-variant {
  width: 30%;
  text-align:center;
  list-style-type: none;
}

li {
  border-radius: 25%;
}

.card-button {
  margin-top: 2%;
}
