<div class="col sm-6 main">
    <form [formGroup]="productForm" (submit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Please Enter Name">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" formControlName="price" placeholder="Please Enter Price">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" formControlName="quantity"
                placeholder="Please Enter Available Quantity">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" formControlName="description"
                placeholder="Please enter Product Description">
        </div>
        <div class="form-group">
            <label for="status">Active:</label>
            <input type="checkbox" formControlName="status"> <span>Show Product</span>
        </div>
        <div class="form-group">
            <label for="category">Select Category</label>
            <select name="category" formControlName="categoryId" class="form-control">
                <option *ngFor="let c of categories" [value]="c.name">{{c.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="availableSize" class="col-xl-3 col-sm-4 mb-0">Available Size:</label>
            <input type="checkbox" formControlName="sizeNotApplicable"> <span>Not Applicable</span>
            <select name="Size" formControlName="" class="form-control">
                <option value="XS">XS</option>
                <option value="S">S</option>
            </select>
        </div>
        <div class="form-group">
            <label for="color" class="col-xl-3 col-sm-4 mb-0">Available Colours:</label>

            <input type="checkbox" formControlName="ColorNotApplicable"> <span>Not Applicable</span>

            <table class="table">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Pick Color</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td><input type="checkbox" formControlName="addC1"></td>
                        <td>Color 1:
                            <input type="text" [(colorPicker)]="color" [style.background]="color"
                                formControlName="color1" />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" formControlName="addC2"></td>
                        <td>Color 2: <input type="text" [(colorPicker)]="color" [style.background]="color"
                                formControlName="color2" />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" formControlName="addC3"></td>
                        <td>Color 3: <input type="text" [(colorPicker)]="color" [style.background]="color"
                                formControlName="color3" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
