<div class="card main">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <img src="..." alt="..." class="img-thumbnail">
            </div>
            <div class="col-4">
                Product name
            </div>
            <div class="col">
                <input type="number" id="quantity" name="quantity" min="1" max="5">
            </div>
            <div class="col">
                <button type="button" class="btn btn-info">Update</button>
                <i class="fas fa-trash delete"></i>
            </div>
        </div>
    </div>
</div>
