<div class="container">
    <h4>Order no. 1234</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name color </th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    Iphone case
                </td>
                <td>2</td>
                <td>$20</td>
            </tr>
        </tbody>
    </table>
    <div class="row totalPrice">
        <div class="col-8">Total:</div>
        <div class="col-4">$200.00</div>
    </div>
    <button type="button" class="btn btn-primary back-button">Back</button>
</div>
